html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
text-decoration:none;
}

body{
background: url(../components/bg.png);
min-height:99%;
max-height:99%;
min-width:99%;
max-width:99%;
}
.wrapper{
position:fixed;
height:100%;
width:100%;
}

.header{
position:relative;
height:90px;
width:98%;
}

.logo{
position:relative;
left:130px;
width:250px;
height:50px;
float:left;
}

.searchbar{
position:absolute;
top:20px;
right:50px;
}
.searchbar input[type=text]{
background: white url(../components/find.png) right no-repeat;
padding-right: 17px;
}
.searchbar .contact_web{
width:100%;
height:24px;
padding-top:5px;
padding-left:20px;
}
.searchbar .contact_web div{
float:left;
width:24px;
height:100%;
margin-left:10px;
}

.searchbar .contact_web div img{
cursor:pointer;
zoom: 1;
filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
-webkit-filter: grayscale(1);
opacity:0.7;
filter:filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1) alpha(opacity=70);
behavior: url(PIE.htc);
}

.searchbar .contact_web div img:hover{
filter: none;
-webkit-filter: grayscale(0);
opacity:1;
filter:alpha(opacity=100);
}

.menu_top{
position:absolute;
bottom:0px;
left:250px;
right:250px;
height:30px;
padding-left:5%;


}




.menu_top .item{
margin-top:7px;
float:left;
cursor:pointer;
width:18%;
border:1px solid;
text-align:center;
height:80%;
background: #E9F5BA; /*fallback for non-CSS3 browsers*/
background: -webkit-gradient(linear, 20% 80%, 20% 80%, from(#E9F5BA) to(#C3D888)); /*old webkit*/
background: -webkit-linear-gradient(0deg,#E9F5BA, #C3D888); /*new webkit*/
background: -moz-linear-gradient(0deg,#E9F5BA, #C3D888); /*gecko*/
background: -ms-linear-gradient(0deg,#E9F5BA, #C3D888); /*IE10*/
background: -o-linear-gradient(0deg,#E9F5BA, #C3D888); /*opera 11.10+*/
background: linear-gradient(0deg,#E9F5BA, #C3D888); /*future CSS3 browsers*/
-pie-background: linear-gradient(0deg,#E9F5BA, #C3D888); /*PIE*/
-webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;
-moz-border-radius:15px 15px 0 0;
box-shadow:rgba(0,0,0,0.4) 5px 0px 10px 0px; /* spread */
behavior: url(css/PIE.htc);
}
.item_hover{
float:left;
cursor:pointer;
width:18%;
border:1px solid;
text-align:center;
height:100%;
background: #E0EDB5; /*fallback for non-CSS3 browsers*/
background: -webkit-gradient(linear, 20% 80%, 20% 80%, from(#E0EDB5;) to(#D3E4A0)); /*old webkit*/
background: -webkit-linear-gradient(0deg,#E0EDB5;, #D3E4A0); /*new webkit*/
background: -moz-linear-gradient(0deg,#E0EDB5;, #D3E4A0); /*gecko*/
background: -ms-linear-gradient(0deg,#E0EDB5;, #D3E4A0); /*IE10*/
background: -o-linear-gradient(0deg,#E0EDB5;, #D3E4A0); /*opera 11.10+*/
background: linear-gradient(0deg,#E0EDB5;, #D3E4A0); /*future CSS3 browsers*/
-pie-background: linear-gradient(0deg,#E0EDB5;, #D3E4A0); /*PIE*/
-webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;
-moz-border-radius:15px 15px 0 0;
box-shadow:rgba(0,0,0,0.4) 5px 0px 10px 0px; /* spread */
behavior: url(css/PIE.htc);
}
.item_hover a{
text-decoration:none;
}

.menu_top .item a{
display:block;
position:relative;
top:0px;
text-decoration:none;
color:#284B8C;
}
.footer{
position:absolute;
bottom:0px;
height:80px;
width:98%;
}
.footer .links{
margin-top:15px;
}
.footer .links a{
font-family:Arial Black;
text-decoration:none;
color:#000;
margin-left:20px;
margin-right:20px;
font-size:13px;
font-weight:bold;
opacity:0.5;
filter:alpha(opacity=50);
behavior: url(css/PIE.htc);
}
.footer .links a:hover{
opacity:1.0;
color:blue;
filter:alpha(opacity=100);
}
.certificari{
position:relative;
float:right;
right:30px;
bottom:20px;
}
.certificari img{
margin-left:10px;
}
.container{
width:98%;
position:absolute;
top:90px;
bottom:90px;
}
.content{
position:absolute;
background:#F1F9CC;
height:100%;
left:250px;
right:250px;
overflow:hidden;
box-shadow:rgba(0,0,0,0.3) 5px 0px 10px 0px; /* spread */
-webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
behavior: url(css/PIE.htc);
}


.left_content_container{
position:absolute;
top:20%;
left:20px;
height:60%;
width:45%;
}

#wrapp_fading{
position:absolute;
top:18%;
bottom:18%;
left:0px;
right:0px;
padding:0px 0px 8px 0px;
}

#wrapp_fading_cert{
position:absolute;
top:7%;
bottom:7%;
left:0px;
right:0px;
padding:0px 0px 8px 0px;
}

.fading_css{
position:relative;
margin-top:0px;
margin-bottom:0px;
height:100%;
overflow:hidden;
}

.fading_css li{
position:absolute;
right:8px;
left:8px;
height:100%;
margin-top:0px;
}

.fading_css li img{
height:99%;
width:100%;
margin-top:8px;
margin-bottom:10px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
-moz-border-radius:20px 20px 20px 20px;
behavior: url(css/PIE.htc);
}



.right-content{
position:absolute;
left:50%;
right:10px;
top:30px;
bottom:30px;

}





.fading_bg{
position:absolute;
top:18%;
bottom:18%;
left:0px;
right:0px;
background:#000;
opacity:0.3;
filter:alpha(opacity=30);
box-shadow:rgba(0,0,0,0.7) 10px 10px 10px 0px;
behavior: url(css/PIE.htc);
}

.fading_bg_cert{
position:absolute;
top:5%;
bottom:5%;
left:0px;
right:0px;
background:#000;
opacity:0.3;
filter:alpha(opacity=30);
box-shadow:rgba(0,0,0,0.7) 10px 10px 10px 0px;
behavior: url(css/PIE.htc);
}

.fading_bg_harta{
position:absolute;
top:-5%;
bottom:-5%;
left:0px;
right:0px;
background:#000;
opacity:0.3;
filter:alpha(opacity=30);
box-shadow:rgba(0,0,0,0.7) 10px 10px 10px 0px;
-webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
behavior: url(css/PIE.htc);
}

a:active, selected, a:visited { 
    border: none;
    outline: none;
}

.harta{
position: relative;
width: 95%;
height: 100%;
-webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
behavior: url(css/PIE.htc);
}

.harta_mica{
position: relative;
width: 90%;
height: 50%;
-webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
box-shadow:rgba(0,0,0,0.7) 10px 10px 10px 0px;
behavior: url(css/PIE.htc);
}
ul									{ list-style: none; }
ul.dropdownn {
 position: relative;
 width: 100%;
 }
ul.dropdownn li  { 
float: left;
width: 100%;
margin-top: 10px;
height:40px;
font-size: large;/* background:url('../components/bg-menuItem.jpg');*/
background-color: #fff;
opacity:0.8;
-webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
box-shadow:rgba(0,0,0,0.7) 10px 10px 10px 0px;
behavior: url(css/PIE.htc);}
ul.dropdownn a:hover		            { color: #000; }
ul.dropdownn a:active                { color: #ffa500; }
ul.dropdownn li a                    { display: block;  
	 								  color: #222; width:100%; text-align:left; font-size: large;
									  line-height: 40px;}
ul.dropdownn li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdownn li.hover,
ul.dropdownn li:hover                { background: url('../components/bg-menuItemHover.jpg'); color: black; position: relative; font-size: large;}
ul.dropdownn li.hover a              { color: black; }




.left_content_container_con{
position:absolute;
top:10%;
left:20px;
height:70%;
width:60%;
}

.right_content_container_con{
position:absolute;
top:6%;
left:59%;
height:81%;
width:20%;
bottom: 10%;
overflow: auto;
}

.left_content_container_certif{
position:absolute;
top:1%;
left:50px;
height:100%;
width:40%;
}

.content_container_ev{
position:relative;
top:1%;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
height:100%;
width:90%;
}

 .ev_band{
 opacity:0.6;
  FILTER: Alpha(Opacity=60);
  color:white;
  text-align:center;
  line-height:50px;
  font-weight:bold;
 background: #000;
 height: 50px;
 width: 100%;
 z-index:100;
 -webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
behavior: url(css/PIE.htc);
margin-left: -10px;
 }
 
 .certificari{
position:relative;
float:right;
right:30px;
bottom:20px;
}
.certificari img{
margin-left:10px;
}

.left_menu{
position: relative;
top: 1%;
left: 5px;
height: 100%;
width: 17%;
float: left;
z-index:10000;

}

.produs_wrapper{
 margin-top:20px;
 margin-left:auto;
 margin-right: auto;
 width: 70%;
 height: 90%;
 overflow: hidden;
}

.product_menu{
position:absolute;
top:40px;
left:0px;
height:auto;
min-width:100px;
max-width:180px;
z-index:1000;
}

.product_menu .component{
width:100%;
height:20px;
display:block;
margin-bottom:10px;
cursor:pointer;
}
.product_menu .component:hover .label{
width:150px;
}

.product_menu .component .label{
float:left;
background:#3081F2;
width:130px;
height:100%;
color:white;
font-size:15px;
box-shadow:rgba(0,0,0,0.7) 2px 4px 0px 0px; /* spread */
behavior: url(../css/PIE.htc);
}

.product_menu .component .label a{
color:white;
z-index:1000;
}


.product_menu .component .label.selected{
background:#B0E7FC;
color:#284B8C;
font-weight:bold;
}

.arrow-right {
float:left;
position:relative;
top:-4px;
left:-3px;
color: #3081F2;
text-shadow: 
2px 2px 2px rgba(48,129,242,0.7), 
2px 5px 0px rgba(0,0,0,0.7);
behavior: url(css/PIE.htc);
font-size:25px;
}

.arrow-right.selected{
color:#B0E7FC;
}

.extra_menu{
position:absolute;
left:10px;
z-index:100;
height:100%;
width:240px;

}
.extra_menu_legaturi{
position:absolute;
float:right;
right:0px;
top:40px;
height:auto;
width:20px;
}
.extra_menu_legaturi .leg{
z-index:1000;
width:100%;
background:#B0E7FC;
height:20px;
display:block;
margin-bottom:10px;
visibility:hidden;
cursor:pointer;
box-shadow:rgba(0,0,0,0.7) 0px 4px 0px 0px; /* spread */
behavior: url(../css/PIE.htc);
}

.extra_menu_legaturi .leg.active{
visibility:visible;
}

.extra_menu .personal_menu{
float:right;
z-index:-1;
position:relative;
left:-20px;
width:220px;
height:auto;
min-height:60px;
padding:0px 0 10px 0;
background:#B0E7FC;
opacity:0.5;
filter:alpha(opacity=50);
visibility:hidden;
-webkit-border-radius: 2px 2px 2px 12px;
border-radius: 15px 15px 15px 15px;
-moz-border-radius:15px 15px 15px 15px;
box-shadow:rgba(0,0,0,0.7) 2px 2px 2px 2px;
behavior: url(css/PIE.htc);
border:1px solid;
}

.extra_menu .personal_menu.active{
visibility:visible;
}

.extra_menu.personal_menu .element_wrapper{
margin-top:10px;
height:auto;
width:100%;
border:1px solid;
}

.inactive{
display:none;
}


.extra_menu .personal_menu .element_wrapper .element{
margin-top:10px;
height:20px;
width:100%;
cursor:pointer;
}

.extra_menu .personal_menu .element_wrapper .element.activated{
background: #00A859;
font-weight:bold;
}

.extra_menu .personal_menu .element_wrapper .element:hover{
background: #00A859;
}

.extra_menu .personal_menu .element_wrapper .element .icon{
margin-top:3px;
height:20px;
float:left;
width:20px;
}
.extra_menu .personal_menu .element_wrapper .element .icon img{
height:20px;
width:20px;
position:relative;
top:-5px;
left:10px;
}

.extra_menu .personal_menu .element_wrapper .element .label_element{
float:left;
height:100%;
width:170px;
text-align:center;
font-family:Arial;
}

.extra_menu .personal_menu .element_wrapper ul{
list-style:none;
font-family:Arial;
padding-top:0px;
padding-bottom:0px;
display:none;
}

.extra_menu .personal_menu .element_wrapper ul li{
text-align:center;
font-family:Arial;
margin-top:5px;
cursor:pointer;
}

.extra_menu .personal_menu .element_wrapper ul li:hover{
font-weight:bold;
}

.extra_menu .personal_menu .element_wrapper ul.active{
display:inline;
}

.extra_menu .personal_menu .drop{
list-style: none;
height:auto;
width:100%;
font-family:Arial;

}

